<div class="event">
  <div class="content">
    <div class="summary">
      <em><%= private_message.user.username%></em>: <%= private_message.body%>
    </div>
    <div class="meta">
      <div class="date">
        <%= time_ago_in_words(private_message.created_at) %> ago
      </div>
    </div>
  </div>
</div>